/* GENERAL */
:root {
    --sims_green: #7dd716;
    --sims_blue: #04508d;
    --dark_green: #072c07;
    --sandy: #dbd39a;
}

body {
  background-color: var(--dark_green);
}

h1, h2, h3 {
    color: var(--sims_blue);

}

h1 {
  color: var(--sims_green);
  font-size: 200%;
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

header#strange_head {
  height: 70px;
  text-align: center;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0;
  grid-template-areas:
  "hed nav";
}

#title {
  padding: 2px;
  grid-area: hed;
}

#strange_nav {
  padding: 20px;
  grid-area: nav;
}

/* STRANGETOWN */
td.current_file {
  font-weight: bolder;
  background-color: #ccbf5a;
}

td a:hover {
  font-weight: bolder;
  background-color: #ccbf5a;
  padding: .2em .6em;
}

td a {
  color: var(--sims_blue);
}

figure {
  width: 100%;
  margin: 0;
}

figcaption {
  font-size: 80%;
}

footer {
    padding-top: 10%;
}

table {
  margin: 2em;
  text-align: center;
  vertical-align: center; 
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: var(--sandy);
}

td img {
  max-width: 90%;
  border: 10px #beb885 solid;
}

table, th, td {
  border: 1px solid var(--sims_blue);
  border-collapse: collapse;
}

th,td {
  color: var(--sims_blue);
  padding: .2em .6em;
}

thead {
  color: var(--sims_blue);
  font-size: 175%;
}

/* navigation menu */

#nav_menu ul li a.current {
  color: var(--sims_green);
}

#nav_menu {
  padding-bottom: .2em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav_menu ul {
  list-style-type: none;
  padding: .25em;
  margin: 0;
  display: flex;
  flex-direction: row;
}

#nav_menu ul li {
  flex-basis: 25%;
  margin: 2px;
  justify-content: space-between;
}

#nav_menu ul li a {
  text-align: center;
  display: block;
  padding: .4em 1em;
  text-decoration: none;
  background-color: var(--sims_blue);
  color: #b2c2ff;
  font-weight: bold;
  border-radius: 3em;
  border-color: #1b0234;
}

#nav_menu ul li a:hover {
  color: var(--sims_green);
}



@media only screen and (max-width: 760px) {
  header#strange_head {
      display: block;
      height: 120px;
  }

  #strange_nav {
    padding: 2px;
  }
}

@media only screen and (max-width: 582px) {
  #nav_menu ul {
      flex-direction: column;
  }

  header#strange_head {
    height: 220px;
}

  th, td {
    display: block;
  }

}