/* GENERAL */
:root {
    --sims_green: #7dd716;
    --sims_blue: #3a4991;
    --dark_green: #072c07;
}

/* MAIN */
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--dark_green);
}


h1, h3 {
    color: var(--sims_green);
}


#intro {
    padding: 2%;
    border: 6px outset var(--sims_blue);
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

img {
    border: 7px outset var(--sims_green);
    width: 50%;
    min-width: 315px;
    margin: 3%;
    align-self: center;
}

/* PACKS SECTION */
#pax {
    margin-top: 1em;
    grid-area: pax;
    border: 5px solid var(--sims_green);
    background: linear-gradient(45deg, #075207 0%, lightgreen 20%, white 50%, lightgreen 80%, #075207 100%);
}

#pax h2 {
    text-align: center;
    color: var(--sims_blue);
    padding: 4px 0px 5px 4px;
    background-color: lightgreen;
    border-radius: 60px;
    
}

#pax_desc {
    color: black;
    padding: 6%;
    background-color: lightgreen;
}

.pax_box {
    background-color: var(--sims_blue);
    width: 60%;
    padding: 2px;
    border: 6px outset var(--sims_blue);
    border-radius: 60px;
    color: white;
    margin-left: 15%;
}

#exp_pax {
   font-style: italic;
   text-align: center;
   color: white;
}

#stf_pax {
    font-style: italic;
    text-align: center;
    color: white;
}

ol {
    padding-left: 10%;
}

/* PLEASANTVIEW STYLES */

.pleasant_desc {
    padding: 5%;
    background: linear-gradient(45deg, #075207 0%, lightgreen 10%, white 50%, lightgreen 90%, #075207 100%);
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}
.pleasant_desc1 {
    padding: 5%;
    background: linear-gradient(135deg, #075207 0%, lightgreen 10%, white 50%, lightgreen 90%, #075207 100%);
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}

section#pvtitle {
    padding: 10% 20% 20%;
    background-image: url(Images/pleasant.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1#pvwel {
    font-size: 200%;
    text-shadow: #000000 5px 2px 4px;
}

/* VERONAVILLE STYLES */

#Vv_img {
    background-color: #075207;
    grid-area: img;
}

#Vv_1 {
    padding: 20px;
    background-color: var(--sims_blue);
    grid-area: head;
}

#Vv_2 {
    padding: 20px;
    background-color:#833628;
    grid-area: sec1;
}

#Vv_3 {
    padding: 20px;
    background-color:#6b6b34;
    grid-area: sec3;
}

#Vv_4 {
    padding: 20px;
    background-color:#4d6352;
    grid-area: sec4;
    
}

#Vv_5 {
    padding: 20px;
    background-color:#3d2a5f;
    grid-area: sec2;
}

#Vv_6 {
    padding: 20px;
    background-color:#48ad61;
    grid-area: foot;
}

main#Verona {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 16px;
    grid-template-areas:
    "img head head"
    "sec2 sec1 sec1"
    "sec2 sec4 sec3"
    "foot foot foot";
}

#Verona, #Verona h2 {
    color: #ffffff;
}

#Verona img {
    border-color: var(--sims_blue);
    width: auto;
}

/* navigation menu */

#nav_menu ul li a.current {
    color: var(--sims_green);
  }

#nav_menu {
    padding-bottom: .2em;
}

#nav_menu ul {
    list-style-type: none;
    padding: .25em;
    margin: 10px;
    display: flex;
    flex-direction: row;
  }

#nav_menu ul li {
    flex-basis: 30%;
    margin: 2px;
    justify-content: space-between;
}
 
  #nav_menu ul li a {
    text-align: center;
    display: block;
    padding: .4em 1em;
    text-decoration: none;
    background-color: var(--sims_blue);
    color: #b2c2ff;
    font-weight: bold;
    border-radius: 3em;
    border-color: #1b0234;
  }

  #nav_menu ul li a:hover {
    color: var(--sims_green);
  }

/* MEDIA QUERIES */

  @media only screen and (max-width: 474px) {
    #home h1 {
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 1000px) {
    main#Verona {
        display: block;
    }
  }

@media only screen and (max-width: 873px) {
    .pleasant_desc {
        flex-direction: column;
    }
    .pleasant_desc1 {
        flex-direction: column;
    }
}

@media only screen and (max-width: 650px) {
    #pax_desc {
        padding: 3%;
    }

    div#exp_pax {
        flex-direction: column;
        align-items: center;
    }

    div#stf_pax {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    #nav_menu ul {
        flex-direction: column;
    }
}



